.editorInput {
  min-height: 80vh;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: var(--chakra-space-2);
  padding-bottom: var(--chakra-space-2);
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.strikethrough {
  text-decoration: line-through;
}

.underlineStrikethrough {
  text-decoration: underline line-through;
}
